In [1]:
import pyspark
from pyspark.sql import SparkSession

# Start notebook
spark_session = SparkSession\
        .builder\
        .master("spark://192.168.2.119:7077") \
        .appName("victor_hwasser_applicationB")\
        .config("spark.dynamicAllocation.enabled", True)\
        .config("spark.dynamicAllocation.shuffleTracking.enabled",True)\
        .config("spark.shuffle.service.enabled", False)\
        .config("spark.dynamicAllocation.executorIdleTimeout","30s")\
        .config("spark.executor.cores",2)\
        .config("spark.driver.port",9998)\
        .config("spark.blockManager.port",10005)\
        .getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/03 07:19:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/03 07:19:15 WARN ExecutorAllocationManager: Dynamic allocation without a shuffle service is an experimental feature.

In [2]:
from pyspark import SparkConf, SparkContext
#conf = spark_session.conf
sc = spark_session.sparkContext

In [3]:
"""
For this section, we’ll use the PySpark DataFrames/SQL API. Use the existing cluster, and a
notebook on your own client machine, which you must deploy yourself.
We’ll work with a large dataset in CSV format. Our dataset is the Los Angeles Parking
Citations (https://www.kaggle.com/cityofLA/los-angeles-parking-citations). I have pre-loaded
the dataset into the HDFS cluster.

"""

'\nFor this section, we’ll use the PySpark DataFrames/SQL API. Use the existing cluster, and a\nnotebook on your own client machine, which you must deploy yourself.\nWe’ll work with a large dataset in CSV format. Our dataset is the Los Angeles Parking\nCitations (https://www.kaggle.com/cityofLA/los-angeles-parking-citations). I have pre-loaded\nthe dataset into the HDFS cluster.\n\n'

In [4]:
# B.1 Load the CSV file from HDFS, and call show() to verify the data is loaded correctly.
df = spark_session.read.csv('hdfs://192.168.2.119:9000/parking-citations.csv', header=True)
df.show()

+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|Ticket number|          Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date| VIN|Make|Body Style|Color|            Location|Route|Agency|Violation code|Violation Description|Fine amount| Latitude|Longitude|Agency Description|Color Description|Body Style Description|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|   1103341116|2015-12-21T00:00:...|      1251|    null|       null|            CA|           200304|null|HOND|        PA|   GY|     13147 WELBY WAY|01521|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1103700150|2015-12-21T00:00:...|      1435|    null|       null|            CA|           201512|null| GMC|        VN|   WH|       525 S MAIN ST| 1C51|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1104803000|2015-12-21T00:00:...|      2055|    null|       null|            CA|           201503|null|NISS|        PA|   BK|       200 WORLD WAY|  2R2|     2|          8939|           WHITE CURB|         58|6439997.9|1802686.4|              null|             null|                  null|
|   1104820732|2015-12-26T00:00:...|      1515|    null|       null|            CA|             null|null|ACUR|        PA|   WH|       100 WORLD WAY| 2F11|     2|           000|               17104h|       null|6440041.1|1802686.2|              null|             null|                  null|
|   1105461453|2015-09-15T00:00:...|       115|    null|       null|            CA|           200316|null|CHEV|        PA|   BK|  GEORGIA ST/OLYMPIC|1FB70|     1|         8069A| NO STOPPING/STANDING|         93|    99999|    99999|              null|             null|                  null|
|   1106226590|2015-09-15T00:00:...|        19|    null|       null|            CA|           201507|null|CHEV|        VN|   GY|  SAN PEDRO S/O BOYD|1A35W|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1106500452|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201605|null|MAZD|        PA|   BL|     SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|    99999|    99999|              null|             null|                  null|
|   1106500463|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201602|null|TOYO|        PA|   BK|     SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|    99999|    99999|              null|             null|                  null|
|   1106506402|2015-12-22T00:00:...|       945|    null|       null|            CA|           201605|null|CHEV|        PA|   BR|      721 S WESTLAKE| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506413|2015-12-22T00:00:...|      1100|    null|       null|            CA|           201701|null|NISS|        PA|   SI|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506424|2015-12-22T00:00:...|      1100|    null|       null|            CA|           201511|null|FORD|        TR|   WH|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506435|2015-12-22T00:00:...|      1105|    null|       null|            CA|           201701|null|CHRY|        PA|   GO|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506446|2015-12-22T00:00:...|      1110|    null|       null|            CA|           201511|null| BMW|        PA|   BK|      1200 W MIRAMAR| 2A75|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1106549754|2015-12-15T00:00:...|       825|    null|       null|            CA|           201607|null|PTRB|        TR|   BK|           4TH/STATE| CM96|     1|         8069A| NO STOPPING/STANDING|         93|    99999|    99999|              null|             null|                  null|
|   1107179581|2015-12-27T00:00:...|      1055|    null|       null|            CA|           201605|null|TOYO|        PA|   BK|3100 N HOLLYRIDGE DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107179592|2015-12-27T00:00:...|      1200|    null|       null|            CA|           201602|null|MBNZ|        PA|   BK|   3115 N BERENDO DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107179603|2015-12-27T00:00:...|      1400|    null|       null|            CA|           201611|null|NISS|        PA|   WH| 3100 N BEACHWOOD DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107539823|2015-09-16T00:00:...|      2120|    null|       null|            CA|           201502|null|NISS|        PA| null|      BLAINE/11TH PL|1FB95|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1107539834|2015-09-16T00:00:...|      1045|    null|       null|            CA|             null|null|CHEV|        PA|   BK|  1246 S FIGUEROA ST| 1L20|     1|        8069AP|     NO STOP/STAND PM|         93|    99999|    99999|              null|             null|                  null|
|   1107780811|2015-12-22T00:00:...|      1102|    null|       null|            CA|           201606|null|HOND|        PA|   BK|       PLATA/RAMPART|  2A1|     1|         8069B|           NO PARKING|         73|    99999|    99999|              null|             null|                  null|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
only showing top 20 rows

In [5]:
# B.2 Print the schema for the DataFrame.

print(df.schema)

# B.3 Count the number of rows in the CSV file.

df_count = df.count()
print(df_count)

# B.4 Count the number of partitions in the underlying RDD.

print(df.rdd.getNumPartitions())

StructType(List(StructField(Ticket number,StringType,true),StructField(Issue Date,StringType,true),StructField(Issue time,StringType,true),StructField(Meter Id,StringType,true),StructField(Marked Time,StringType,true),StructField(RP State Plate,StringType,true),StructField(Plate Expiry Date,StringType,true),StructField(VIN,StringType,true),StructField(Make,StringType,true),StructField(Body Style,StringType,true),StructField(Color,StringType,true),StructField(Location,StringType,true),StructField(Route,StringType,true),StructField(Agency,StringType,true),StructField(Violation code,StringType,true),StructField(Violation Description,StringType,true),StructField(Fine amount,StringType,true),StructField(Latitude,StringType,true),StructField(Longitude,StringType,true),StructField(Agency Description,StringType,true),StructField(Color Description,StringType,true),StructField(Body Style Description,StringType,true)))

13077724
16

In [6]:
# B.5 Drop the columns VIN, Latitude and Longitude.

columns_to_drop = ['VIN', 'Latitude', 'Longitude']
for c in columns_to_drop:
    df = df.drop(c)
    
print(df.columns)

['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time', 'RP State Plate', 'Plate Expiry Date', 'Make', 'Body Style', 'Color', 'Location', 'Route', 'Agency', 'Violation code', 'Violation Description', 'Fine amount', 'Agency Description', 'Color Description', 'Body Style Description']

In [7]:
# B.6 Find the maximum fine amount. How many fines have this amount? 
# You need to convert the ‘fine amount’ column to a float to do this correctly.
from pyspark.sql.functions import max, min 
from pyspark.sql.types import FloatType

df = df.withColumn("Fine amount", df["Fine amount"].cast(FloatType()))
max_fine_amount = df.agg(max("Fine amount")).collect()[0][0]
all_max = df.filter(df['Fine amount'] == 98.0)
print("Fine amount:", max_fine_amount)
print("How many fines have this amount:", all_max.count())

Fine amount: 1100.0

How many fines have this amount: 728

In [9]:
# B.7 Show the top 20 most frequent vehicle makes, and their frequencies.
# most_freq = df.agg(asc("Make")).collect()[0][0]
top_20_vec = df.rdd.map(lambda x: (x['Make'],1)).reduceByKey(lambda a, b: a+b)
top_20_vec = top_20_vec.sortBy(lambda x: x[1], ascending=False)
print(top_20_vec.take(20))

# We can see that Toyota has the highest freqency.

[('TOYT', 2150768), ('HOND', 1479996), ('FORD', 1116235), ('NISS', 945133), ('CHEV', 892676), ('BMW', 603092), ('MERZ', 543298), ('VOLK', 432030), ('HYUN', 404917), ('DODG', 391686), ('LEXS', 368420), ('KIA', 328155), ('JEEP', 316300), ('AUDI', 255395), ('MAZD', 242344), ('OTHR', 205546), ('GMC', 184889), ('INFI', 174315), ('CHRY', 159948), ('SUBA', 154640)]

In [31]:
# B.8 Let’s expand some abbreviations in the color column. Create a User Defined Function to 
# create a new column, ‘color long’, mapping the original colors to their corresponding values
# in the dictionary below. If there is no key matching the original color, use the original color. 

COLORS = {
'AL':'Aluminum', 'AM':'Amber', 'BG':'Beige', 'BK':'Black',
'BL':'Blue', 'BN':'Brown', 'BR':'Brown', 'BZ':'Bronze',
'CH':'Charcoal', 'DK':'Dark', 'GD':'Gold', 'GO':'Gold',
'GN':'Green', 'GY':'Gray', 'GT':'Granite', 'IV':'Ivory',
'LT':'Light', 'OL':'Olive', 'OR':'Orange', 'MR':'Maroon',
'PK':'Pink', 'RD':'Red', 'RE':'Red', 'SI':'Silver', 'SL':'Silver',
'SM':'Smoke', 'TN':'Tan', 'VT':'Violet', 'WT':'White', 'WH':'White',
'YL':'Yellow', 'YE':'Yellow', 'UN':'Unknown'
}
 
from pyspark.sql.functions import udf
from pyspark.sql.functions import col

# Create function
def color_long(val):
    if val in COLORS:
        return COLORS[val]
    else:
        return val

# Convert function to UDF
color_long_UDF = udf(lambda x: color_long(x))

# Apply the function
df_with_color = df.withColumn("color long", color_long_UDF(col("Color")))

# Check the first five values
print(df_with_color.take(5))

[Row(Ticket number='1103341116', Issue Date='2015-12-21T00:00:00.000', Issue time='1251', Meter Id=None, Marked Time=None, RP State Plate='CA', Plate Expiry Date='200304', Make='HOND', Body Style='PA', Color='GY', Location='13147 WELBY WAY', Route='01521', Agency='1', Violation code='4000A1', Violation Description='NO EVIDENCE OF REG', Fine amount=50.0, Agency Description=None, Color Description=None, Body Style Description=None, color long='Gray'), Row(Ticket number='1103700150', Issue Date='2015-12-21T00:00:00.000', Issue time='1435', Meter Id=None, Marked Time=None, RP State Plate='CA', Plate Expiry Date='201512', Make='GMC', Body Style='VN', Color='WH', Location='525 S MAIN ST', Route='1C51', Agency='1', Violation code='4000A1', Violation Description='NO EVIDENCE OF REG', Fine amount=50.0, Agency Description=None, Color Description=None, Body Style Description=None, color long='White'), Row(Ticket number='1104803000', Issue Date='2015-12-21T00:00:00.000', Issue time='2055', Meter Id=None, Marked Time=None, RP State Plate='CA', Plate Expiry Date='201503', Make='NISS', Body Style='PA', Color='BK', Location='200 WORLD WAY', Route='2R2', Agency='2', Violation code='8939', Violation Description='WHITE CURB', Fine amount=58.0, Agency Description=None, Color Description=None, Body Style Description=None, color long='Black'), Row(Ticket number='1104820732', Issue Date='2015-12-26T00:00:00.000', Issue time='1515', Meter Id=None, Marked Time=None, RP State Plate='CA', Plate Expiry Date=None, Make='ACUR', Body Style='PA', Color='WH', Location='100 WORLD WAY', Route='2F11', Agency='2', Violation code='000', Violation Description='17104h', Fine amount=None, Agency Description=None, Color Description=None, Body Style Description=None, color long='White'), Row(Ticket number='1105461453', Issue Date='2015-09-15T00:00:00.000', Issue time='115', Meter Id=None, Marked Time=None, RP State Plate='CA', Plate Expiry Date='200316', Make='CHEV', Body Style='PA', Color='BK', Location='GEORGIA ST/OLYMPIC', Route='1FB70', Agency='1', Violation code='8069A', Violation Description='NO STOPPING/STANDING', Fine amount=93.0, Agency Description=None, Color Description=None, Body Style Description=None, color long='Black')]

In [37]:
# B.9 Using this new column, what’s the most frequent colour value for Toyotas (TOYT)?

top_color1 = df_with_color.filter(df['Make'] == 'TOYT')
top_color2 = top_color1.rdd.map(lambda x: (x['color long'],1)).reduceByKey(lambda a, b: a+b)
top_color3 = top_color2.sortBy(lambda x: x[1], ascending=False)
print(top_color3.take(10))

[('Gray', 489697), ('White', 434595), ('Black', 353812), ('Silver', 347894), ('Blue', 180091), ('Red', 119074), ('Green', 74968), ('Gold', 40646), ('Maroon', 26242), ('Tan', 23355)]